<!-- <ngx-org-chart [nodes]="nodes" direction="vertical" (itemClick)="test($event)"></ngx-org-chart> -->
<organization-chart chartClass="myChart" [datasource]="ds" [nodeTemplate]="myNodeTemplate">
</organization-chart>

<div class="testtest">

    <ng-template #myNodeTemplate let-nodeData="datasource">
        <div class="main-wrapper" [ngClass]="{'border-class': nodeData.isSelected === true}">
            <div class="{{nodeData.className}}" (click)="test(nodeData, $event)">
                <div class="profile-wrapper">
                    <div class="profile-img">
                        <img src="../assets/oval.svg" alt="">
                    </div>
                    <div class="profile-detail">
                        <div class="name">{{nodeData.name}}</div>
                        <div class="id">{{nodeData.id}}</div>
                        <div class="post">{{nodeData.title}}</div>
                    </div>
                </div>
                <div class="location-detail">
                    <div class="country">IND</div>
                    <div class="state">BLR</div>
                    <div class="city">IDG</div>

                </div>
            </div>

        </div>
    </ng-template>
    <div class="org-legends">
        <ul class="list-inline">
            <li class="dash-line">
                <span class="dash-line"></span>Direct Reporting
            </li>
            <li class="dash-line">
                <span class="red-dot-line"></span>Collaboration
            </li>
            <li class="dash-line">
                <span class="gray-dot-line"></span>Secondary Reporting
            </li>
        </ul>
    </div>
    <div class="org-sticky-footer" *ngIf="selectedNodes.length > 0">
        <div class="org-head">
            <div class="row">
                <div class="col-5">
                    <p class="m-0">{{selectedNodes.length}} employee selected</p>
                </div>
                <div class="col-7">
                    <div class="cust-button float-right">
                        <button class="s-btn">Cancel</button>
                        <button class="p-btn m-r-0">Transfer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
