/* You can add global styles to this file, and also import other style files */

.oc-node {
    border: 0!important;
    &.oc-is-selected {
        background-color: transparent !important;
        border-color: none !important;
    }
    &:hover {
        background-color: transparent !important;
    }
}

@import "~ngx-org-chart/_theming.scss";
.orgchart.myChart {
    background-image: none !important;
}

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
.orgchart.myChart .oc-node .position {
    box-sizing: border-box;
    background-color: #215a88;
    color: #fff;
    width: 130px;
    height: 65px;
    padding: 2px;
}

.orgchart-container {
    border: none !important;
    height: calc(100vh - 100px)!important;
    @media(max-width: 767px) {
        height: calc(100vh - 140px)!important;
    }
}

.orgchart.myChart .oc-node .fullname {
    box-sizing: border-box;
    color: #215a88;
    background-color: #fff;
    width: 130px;
    height: 65px;
    padding: 2px;
    border: 1px solid #215a88;
}

.orgchart.myChart>orgchart-node>.oc-node::after {
    background-color: #ff777d ;
}

.orgchart.myChart .oc-group:not(:last-child)::before {
    border-color: #ff777d ;
}

.orgchart.myChart .oc-group>orgchart-node::before {
    border-color: #ff777d ;
}

.orgchart.myChart orgchart-node:not(:last-child)::after {
    border-color: #ff777d ;
}

.orgchart.myChart orgchart-node:not(:first-child)::after {
    border-color: #ff777d ;
}

.orgchart.myChart tr.lines td.topLine {
    border-top-style: dashed !important;
}

.orgchart.myChart tr.lines td.rightLine {
    border-right-style: dashed !important;
}

.orgchart.myChart tr.lines td.leftLine {
    border-left-style: dashed !important;
}

.orgchart.myChart tr.lines .downLine {
    background-color: transparent;
    width: 0;
    border: 1px dashed rgba(217, 83, 79, 0.8) !important;
}

#oc-1 .fullname {
    color: blue;
}

.oc-node {
    width: 355px !important ;
    padding: 0 !important;
    font-family: "Lato", sans-serif !important;
    .oc-toggle-btn {
        right: 23px;
        left: auto !important;
        bottom: 10px !important;
        border-top: 0.3em solid #4c5053;
        border-right: 0.3em solid transparent;
        border-bottom: 0;
        border-left: 0.3em solid transparent;
        width: 10px !important;
        height: 10px !important;
        background-color: transparent !important;
        &:before {
            content: none !important;
        }
    }
}

.main-wrapper {
    border: 2px solid transparent;
    .employee-card {
        margin: 0px auto 0px;
        box-shadow: none;
        max-width: 350px;
        min-width: 350px;
        height: 120px;
        position: relative;
        display: flex;
        background-color: #fff;
        // background-color: #a6a6a6;
        .profile-wrapper {
            display: flex;
            flex-wrap: wrap;
            padding: 15px;
            width: 290px;
            justify-content: flex-start;
            align-items: center;
            .profile-img {
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    width: 60px;
                }
            }
            .profile-detail {
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;
                text-align: left;
                margin-left: 20px;
                .name {
                    font-size: 16px;
                    color: #3c4145;
                    text-transform: capitalize;
                }
                .id {
                    font-size: 16px;
                    color: #3c4145;
                    font-weight: 700;
                }
                .post {
                    color: #afafaf;
                    margin: 0px;
                    text-transform: capitalize;
                }
            }
        }
        .location-detail {
            display: flex;
            flex-direction: column;
            width: calc(100% - 290px);
            justify-content: center;
            align-items: center;
            .country {
                color: #383a3f;
                font-weight: 700;
                text-transform: uppercase;
            }
            .state {
                color: #535556;
                font-weight: 500;
            }
            .city {
                color: #3c4145;
            }
            .dropdown {
                position: relative;
                top: unset;
                right: unset;
                left: unset;
                display: table;
                margin: 0;
                .dropdown-toggle {
                    margin: 10px 0px 0px;
                    border-top: 0.3em solid #4c5053;
                    border-right: 0.3em solid transparent;
                    border-bottom: 0;
                    border-left: 0.3em solid transparent;
                    float: right;
                }
                .dropdown-menu {
                    width: 210px;
                    padding: 5px;
                    margin: 0px;
                    p {
                        font-size: 10px;
                        color: #69696c;
                    }
                }
            }
        }
    }
}

.cust-button {
    .s-btn {
        background-color: #fcfcfc;
        color: #414348;
    }
    button {
        padding: 5px 46px;
        font-size: 14px;
        border: 1.5px solid #45474d;
        border-radius: 4px;
        min-width: 138px;
        margin: 0 10px;
    }
    .p-btn {
        background-color: #45474d;
        color: #fff;
    }
}

.secondaryParent::before {
    border-style: dotted !important;
}

.secondaryParent::after {
    border-style: dotted !important;
}

.collobrateParent::before {
    border-style: dotted !important;
    border-color: black !important;
}

.collobrateParent::after {
    border-style: dotted !important;
    border-color: black !important;
}

.row {
    display: flex;
    justify-content: space-between;
}

.main-wrapper {
    position: relative;
}

.location-detail {
    background-color: #ffe192;
}

.direct {
    .location-detail {
        background-color: #ff777d;
    }
}

.collobration {
    .location-detail {
        background-color: #9eddff;
    }
}

.orgchart {
    background-color: #e8ecee;
}

.border-class {
    border: 2px solid #ff777d!important;
}
